<%= render 'shared/header' %>

<div class='ui main container'>
  <h1 class="ui header"><%= "#{@user.name}'s List" %></h1>
  <div class="ui divider"></div>

  <div class="ui two column grid">
    <div class="four wide column">

      <%= render 'shared/lists_menu', { user: @user, want_class: 'item', playing_class: 'active item', played_class: 'item' } %>
      
    </div>
    <div class="twelve wide column">

      <%= render 'shared/game_list', { games: @games, q: @q, menu_title: 'Playing' } %>

    </div>
  </div>
</div>