<% breadcrumb :user %>

<div class='ui main text container'>
  <h1 class="ui header"><%= @user.name %></h1>

  <div class="ui divider"></div>

  <h2 class='ui sub header'>
    <%= "#{@user.name}さんのリスト" %>
  </h2>

  <%= render 'shared/lists_menu', { user: @user, favorite_class: 'item', want_class: 'item', playing_class: 'item', played_class: 'item' } %>

</div>