<div class="footer">
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui center aligned inverted basic segment">
        <%= link_to new_contact_path, class: 'ui icon button' do %>
          <i class="mail icon"></i>
          お問合せフォーム
        <% end %>
        <div class="ui divider"></div>
        <p><small>当サイト内に掲載されているゲームの画像や情報等の諸権利は、各権利所有者に帰属します。<br>
        当サイトは著作権等の侵害を目的としたものではありません。掲載されている画像等に関して問題がございましたら、お問い合わせフォームよりご連絡ください。迅速に対応いたします。</small></p>        
        <p>2021 © MGDB.JP</p>
      </div>
    </div>
  </div>
</div>
