<div class="footer">
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <p>当サイト内に掲載されているゲームの画像や情報等の諸権利は、各権利所有者に帰属します。<br>
      当サイトは著作権等の侵害を目的としたものではありません。掲載されている画像等に関して問題がございましたら、お問い合わせフォームよりご連絡ください。迅速に対応いたします。</p>
      <p>2021 © My Game DB</p>
    </div>
  </div>
</div>
