<%= render "shared/header" %>

<div class="ui main text container">
  <h1 class="ui header">Edit Information</h1>

  <%= render 'shared/game_form', { form: @form, path: game_path, method: :patch, submit_text: 'Update Game' } %>

</div>