<% breadcrumb :add_game %>

<div class="ui main text container">
  <h1 class="ui header">ゲームを追加</h1>

  <%= render 'shared/game_form', { form: @form, path: games_path, method: :post, submit_text: '登録' } %>

</div>