<%= render "shared/header" %>

<div class="ui main text container">
  <h1 class="ui header">Add Game</h1>

  <%= render 'shared/game_form', { form: @form, path: games_path, method: :post, submit_text: 'Create Game' } %>

</div>