<% breadcrumb :tag %>

<div class='ui main container'>
  <h1 class="ui header">タグ別ゲーム一覧</h1>
  <div class="ui divider"></div>

  <div class="ui two column grid">
    <div class="four wide column">
    
      <%= render 'shared/category_menu', { categories: @tags, category: @tag, link_path: "tag_path" } %>

    </div>
    <div class="twelve wide column">

      <%= render 'shared/game_list', { games: @games, q: @q, menu_title: @tag.name } %>

    </div>
  </div>
</div>